<%- layout("/layout/boilerplate") %>
<div class="row mt-5">
    <div class="alert alert-danger offset-3 col-6" role="alert">
       <div>
          <%= err %>
          <!-- err.stack %> -->
        </div>
      </div>
</div>